---
title: about
description: this is about page
---
doctype html
html(lang= lang)
  include partial/head

  body
    include partial/global-header

    h1= title
    p= description

    include partial/scripts
    script.
      window.App.run('about')
