:root {
  font-family: $font-stack-system-ui;
  line-height: 1.5;
}

::before,
::after {
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

svg {
  fill: currentColor;
}
